.radius-4 {-webkit-border-radius:4px;-moz-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;}
.clear {clear:both;}
.mb-social .mb-social-title {font-size:12px;}
.mb-social .mb-social-btn-box{padding:5px 0 5px;}
.mb-social .mb-social-btn-box a{display:inline-block;cursor:pointer;}
.mb-social .margin-right-10 {margin-right:10px !important;}
.mb-social-sharing{padding:7px 0 10px !important;}
.mb-social-empty-box{height:20px;}

.mb-user .mb-login-template {
    padding: 80px 0 50px;
}

.mb-mobile .mb-user .mb-login-template {
    padding: 20px 0;
}

.mb-user .mb-login-template .mb-login-label {
    font-weight: 600;
    font-size: 13px;
}

.mb-user .mb-login-template .user-login-input {
    width: 250px !important;
    height: 34px !important;
    vertical-align: middle;
}

.mb-user .mb-login-template .user-login-checkbox {
    vertical-align: middle !important;
}

.mb-user .mb-login-template1 {
    margin: 0px auto !important;
    text-align: center;
    max-width: 840px;
    border: 1px solid #CCC !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

.mb-user .mb-login-template1 .mb-login-passwd-wrap {
    margin-top: 15px !important;
}

.mb-user .mb-login-template1 .mb-login-item-box {
    text-align: center;
    display: inline-block;
    padding-top: 36px;
    padding-bottom: 24px;
}

.mb-user .mb-login-template1 .user-auto-login {
    text-align: right !important;
    padding-right: 113px !important;
}

.mb-mobile .mb-user .mb-login-template1 .user-auto-login {
    text-align: right !important;
    padding-right: 0px !important;
}

.mb-user .mb-login-template1 .user-auto-login-label {
    vertical-align: middle !important;
    padding-bottom: 3px;
}

.mb-user .mb-login-template1 .mb-login-btn-box {
    margin: 0px auto !important;
}

.mb-user .mb-login-template1 .btn-login-wrap {
    vertical-align: top;
    display: inline-block;
}

.mb-user .mb-login-template1 .btn-login-wrap .btn-default {
    color: #fff !important;
    background-color: #444 !important;
    font-weight: 600;
    border: none !important;
    height: 83px !important;
    width: 96px;
}

.mb-mobile .mb-user .mb-login-template1 .btn-login-wrap .btn-default {
    width: 100%;
    height: 36px !important;
    width: 252px;
    margin-top: 18px;
}

.mb-user .mb-login-template1 .mb-login-btn-box>div {
    padding: 29px 0 24px;
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #ccc;
    background-color: #f0f0f0;
}

.mb-mobile .mb-user .mb-login-template1 .mb-login-btn-box>div {
    padding: 19px 0 14px;
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    background-color: #f0f0f0;
}

.mb-user .mb-login-template1 .mb-login-btn-box .btn-default {
    margin: 0 3px 5px;
    width: 230px;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff !important;
    height: 50px !important;
}

.mb-mobile .mb-user .mb-login-template1 .mb-login-btn-box .btn-default {
    width: 252px;
    height: 36px !important
}

.mb-user .mb-login-template1 .user-login-input-wrap {
    padding-right: 16px;
    display: inline-block;
}

.mb-mobile .mb-login-template1 .user-login-input-wrap {
    padding-right: 0px;
    display: block
}

.mb-user .mb-login-template1 .mb-login-label {
    display: inline-block;
    padding-right: 15px;
    width: 90px;
    text-align: left
}

.mb-mobile .mb-login-template1 .mb-login-label {
    display: block !important;
    padding-bottom: 2px;
}

.mb-user .mb-login-template1 .user-login-item {
    text-align: left;
    padding: 10px 0 0 91px;
}

.mb-mobile .mb-login-template1 .user-login-item {
    padding: 10px 0 0 0px;
}

.mb-user .mb-login-template2 {
    padding: 26px 0px 25px !important;
    max-width: 300px;
    min-width: 260px;
    margin: 0px auto !important;
    border: 1px solid #CCC !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

.mb-user .mb-login-template2 .mb-login-passwd-wrap {
    margin-top: 10px !important;
}

.mb-user .mb-login-template2 .mb-login-item-box {
    width: 250px;
    margin: 0px auto !important;
}

.mb-user .mb-login-template2 .user-auto-login {
    text-align: right !important;
    padding: 8px 0 2px !important;
}
