<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>WebProject_YJS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>INIT_PARAM</param-name>
    <param-value>web.xml에 저장한 초기화 매개변수</param-value>
  </context-param>
  <context-param>
    <param-name>OracleDriver</param-name>
    <param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>OracleURL</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
    <context-param>
    <param-name>OracleId</param-name>
    <param-value>musthave</param-value>
  </context-param>
  <context-param>
    <param-name>OraclePwd</param-name>
    <param-value>1234</param-value>
  </context-param>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
<!--   <servlet>
    <servlet-name>MemberAuth</servlet-name>
    <servlet-class>servlet.MemberAuth</servlet-class>
    <init-param>
      <param-name>admin_id</param-name>
      <param-value>nakja</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberAuth</servlet-name>
    <url-pattern>/MemberAuth.mvc</url-pattern>
  </servlet-mapping> -->
  <servlet>
    <display-name>MemberRegist</display-name>
    <servlet-name>MemberRegist</servlet-name>
    <servlet-class>member.MemberRegist</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BoardList3</servlet-name>
  	<servlet-class>board.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BoardList3</servlet-name>
  	<url-pattern>/list3.do</url-pattern>
  </servlet-mapping>
    <!-- 글 작성하기 -->
  <servlet>
    <servlet-name>BoardWrite</servlet-name>
    <servlet-class>board.WriteController</servlet-class>
    <multipart-config>
      <max-file-size>1048576</max-file-size>
      <max-request-size>10485760</max-request-size>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardWrite</servlet-name>
    <url-pattern>/write.do</url-pattern>
  </servlet-mapping>
  
  <!--
  게시판의 페이징 기능 추가 
  	POSTS_PER_PAGE : 한 페이지에 출력할 게시물의 갯수를 설정 
  	PAGES_PER_BLOCK : 한 블럭당 출력할 페이지번호의 갯수를 설정 
  -->
  <context-param>
    <param-name>POSTS_PER_PAGE</param-name>
    <param-value>2</param-value>
  </context-param>
  <context-param>
    <param-name>PAGES_PER_BLOCK</param-name>
    <param-value>2</param-value>
  </context-param>
<!--   <servlet-mapping>
    <servlet-name>MemberRegist</servlet-name>
    <url-pattern>/regist.do</url-pattern>
  </servlet-mapping> -->
</web-app>